<section data-ng-controller="BooksController">
  <form class="form-horizontal" data-ng-submit="create()">
    <div class="control-group">
      <label class="control-label" for="title">Book Title</label>
      <div class="controls">
        <input type="text" data-ng-model="title" id="title" placeholder="Title" required>

      </div>
    </div>
    <div>
        <li  ng-repeat="title in bookTitleInfo">{{title.volumeInfo.title}} - {{title.volumeInfo.authors[0]}}</li>
    </div>
    <div class="control-group">
      <label class="control-label" for="content">Content</label>
      <div class="controls">
        <textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
      </div>
    </div>

        <div class="control-group">
      <label class="control-label" for="content">Content</label>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn">
      </div>
    </div>
  </form>
</section>

