<section data-ng-controller="BooksController">
  <form class="form-horizontal" data-ng-submit="create()">
    <div class="control-group">
      <label class="control-label" for="title">Book Title</label>
      <div class="controls">
        <input type="text" data-ng-model="title" id="title" placeholder="Title" required>

      </div>
    </div>
    <div>
      <ul ng-show="toggleTitleList">
        <li ng-repeat="title in bookTitleInfo" enter leave><span ng-click="sendTitle(title)">{{title.volumeInfo.title}} - {{title.volumeInfo.authors[0]}}</span></li>
      <ul>
    </div>
    <div class="control-group">
      <label class="control-label" for="content">Content</label>
      <div class="controls">
        <textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
      </div>
    </div>
        <input type="submit" class="btn">
      </div>
    </div>
  </form>
</section>

<!-- {{title.volumeInfo.imageLinks.smallThumbnail}} -->