  <div class="sidescroll-content">

    <div class="grid">
      <div viewcontent data-ng-repeat="article in ngModel">
        <h3>{{article.title}}</h3>
        <h3>{{article.created | date:'medium'}}</h3>
        <h5 style="font-size:12px">{{article.content}}</h5>
      </div>

      <div data-ng-repeat="article in ngModel">
        <iframe class="sidescroll" type="text/html" width=" 100%" height="100%" src="{{article.url}}" frameborder="0" allowfullscreen>
        </iframe>
      </div>

      <div quotepage data-ng-repeat="book in ngModel">
        <h3>{{book.title}}</h3>
        <h3>{{book.created | date:'medium'}}</h3>
        <h5>{{article.content}}</h5>
        <img src={{book.thumbnail}}>
      </div>
    </div>


    </div>



