<!-- inside template
<div>hello</div>
<p>Hello Ruben</p>
<script type="text/javascript">
  console.log('inside template');
</script>
 -->
<!--
<style>
  html, body {
    height: 100%;
  }
  body {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

.sidescroll {
    height : 100%;


    margin: 0;
    padding: 0;

    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;

    white-space: nowrap;
  }
*/
/* .sidescroll-content {
    height: 100%;
  }

  .grid,
  .stack,
  .panel {
    width: 1em;
    height: 100%;
    float: left;

    
      Enable hardware accelaration
      This renders the element with the GPU
    
    -webkit-transform: translate3d(0,0,0);
  }

  .grid.small {
    width: 0.5em;
  }

  .grid div {
    float: left;
    width: 0.5em;
    height: 50%;
    background-color: blue;
    border: 1px solid black;
  }

  .stack {
    width: 1em;
  }

  .stack div {
    width: 1em;
    height: 50%;
    background-color: green;
    border: 1px solid black;

    background-position: top center;
  }

  .panel {
    width: 1em;
    background-color: gray;
    border: 1px solid black;
  }

  @media all and (max-height: 600px), all and (orientation: portrait) {
    .grid.small {
      width: 2em;
    }
    .grid {
      width: 4em;
    }
    .grid div {
      width: 1em;
      height: 100%;
      background-color: red;
    }
  }

  .cow {
    background-image: url('cow.jpg') !important;
  }

  .monalisa {
    background-image: url('monalisa.jpg') !important;
  }

  .picture {
    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;
  }
  </style>*/ -->ig


<div class="sidescroll" id="sidescroll">
  <div class="sidescroll-content">
    <div class="panel picture cow"></div>

    <div class="grid small">
      <div class="picture monalisa"></div>
      <div class="picture cow"></div>
    </div>

    <div class="stack">
      <div class="medium picture cow"></div>
      <div class="medium picture monalisa"></div>
    </div>

    <div class="grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="panel"></div>

    <div class="grid small">
      <div></div>
      <div></div>
    </div>

    <div class="stack">
      <div class="medium"></div>
      <div class="medium"></div>
    </div>

    <div class="grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  function SideScroll(selector) {
    // Store reference to element
    this.$el = $(selector);

    // Add scroll listeners
    this.$el.on('mousewheel', function(event) {
      // Scroll left instead of down
      this.scrollLeft -= (event.originalEvent.wheelDeltaY);
      
      // Stop from actuall scrolling down
      event.preventDefault();
    });

    // Update when the window resizes
    $(window).on('resize', this.update.bind(this));

    // Perform initial calculation
    this.update();
  }
  
  SideScroll.prototype.update = function() {
    // Calculate height of container
    var height = this.$el.outerHeight();
    var width = this.$el.outerWidth();

    // Make boxes sized right
    var size;
    if (width > height)
      size = height;
    else
      size = width;

    this.$el.css({
      fontSize: size
    });

    // Calculate width of children
    var width = 0;
    this.$el.find('.sidescroll-content').children().each(function(index, el) {
      width += el.offsetWidth;
    });

    // Adjust content width
    this.$el.find('.sidescroll-content').css({
      width: width
    });
  };
  
  SideScroll.prototype.add = function(el) {
    this.$el.append(el);
    this.update();
  };

  // Create instance
  var scroll = new SideScroll('#sidescroll');

</script>
