  <div class="sidescroll-content">

    <div class="grid">
      <div data-ng-repeat="article in ngModel"> 
        <h3>{{article.title}}</h3>
        <h3>{{article.created | date:'medium'}}</h3>
        <h5>{{article.content}}</h5>


      </div>
    </div>

  </div>

   <div class="grid">
      <div data-ng-repeat="book in ngModel"> 
        <h3>{{book.title}}</h3>
        <h3>{{book.created | date:'medium'}}</h3>
        <h5>{{article.content}}</h5>
        <img src={{book.thumbnail}}>
      </div>
    </div>

  </div>

<!-- <section data-ng-controller="ArticlesController" data-ng-init="find()">
    <ul class="articles unstyled">
    <li data-ng-repeat="article in articles">
      <span>{{article.created | date:'medium'}}</span> /
      <span>{{article.user.name}}</span>
      <h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
      <div>{{article.content}}</div>
    </li>
  </ul>
  

  <h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>


</section>  
 -->
