<h1>HELLO VIDEO LIST<h1>

<section data-ng-controller="VideosController" data-ng-init="find()">

  <ul>
    <li data-ng-repeat="video in videos">
      <div>{{video.content}}</div>

      <iframe id="ytplayer" type="text/html"  
      src="{{video.url}}" frameborder="0" allowfullscreen></iframe>

      <iframe id="ytplayer" type="text/html"  
      src="http://www.youtube.com/embed/oDAw7vW7H0c" frameborder="0" allowfullscreen></iframe>
      


     <!-- <div>ruben{{video.Url}}</div> -->

    </li>
  </ul>

</section>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '390',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }
</script>