<section data-ng-controller="ArticlesController" data-ng-init="find()">
<div ng-app="mean.articles">
<div class="sidescroll" id="sidescroll" horiscroller ng-model="articles"></div>
</div>






<!-- 	<ul class="articles">
		<li data-ng-repeat="article in articles">
			<div >1{{article.created | date:'medium'}}</div> /
			<span>2{{article.user.name}}</span>
      <span>3{{article.author}}</span>
      <span>4{{title.volumeInfo.authors[0]}}</span>
      <span>5{{book.author}}</span>
      <span>6{{books.author}}</span>
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>{{article.content}}</div>
      <div>{{article.url}}</div>
		</li>
	</ul>
	

	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
 -->

</section>  


<!-- 	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
			<span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span>
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>{{article.content}}</div>
		</li>
	</ul>
	

	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>


