<section data-ng-controller="ProfileController" data-ng-init="find()">
  <div ng-app="mean.profile">
    <div class="sidescroll" id="sidescroll" phoriscroller ng-model="articles"></div>
  </div>
  <!-- <div ng-app="mean.books">
  <div class="sidescroll" id="sidescroll" phoriscroller ng-model="books"></div>
  </div>
   -->
</section>


<!-- <section data-ng-controller="BooksController" data-ng-init="find()">

<div ng-app="mean.books">
<div class="sidescroll" id="sidescroll" bhoriscroller ng-model="books"></div>
</div>


</section> -->


<!-- <section data-ng-controller="ProfileController" data-ng-init="find()">
<h2>Hello</h2>

<ul>
<li data-ng-repeat="article in articles">
<span>{{article.created | date:'medium'}}</span>
</li>
<ul>
 <ul class="articles unstyled">
    <li data-ng-repeat="article in articles">
      <span>{{article.created | date:'medium'}}</span> /
      <span>{{article.user.name}}</span>
      <h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
      <div>{{article.content}}</div>
    </li>
  </ul>

      <li data-ng-repeat="book in books">
      <span>{{book.created | date:'medium'}}</span> /
      <span>{{book.user.name}}</span>
    <h2><a data-ng-href="#!/books/{{book._id}}">{{book.title}}</a></h2>
      <div>{{book.content}}</div>
      <div>{{article.content}}</div>
    </li>
  </ul>


</section>
 -->